Asteria/force-app/main/default/flows/DNA_Test_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Sends an email to the Captain detailing the DNA Test results that have been verified.</description>
        <name>Email_Captain</name>
        <label>Email Captain</label>
        <locationX>950</locationX>
        <locationY>207</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>User {!$User.Username} has updated the DNA Test results for Squad {!Squad_Picklist}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>domjblasi@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>DNA Test update {!$System.OriginDateTime} - Squad {!Squad_Picklist}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <description>No</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Yes</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Node_1</name>
        <label>Decision_Node_1</label>
        <locationX>322</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Squad_Picklist_Alpha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Squad_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALPHA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ALPHA</targetReference>
            </connector>
            <label>Squad_Picklist_ALPHA</label>
        </rules>
        <rules>
            <name>Squad_Picklist_BETA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Squad_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BETA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BETA</targetReference>
            </connector>
            <label>Squad_Picklist_BETA</label>
        </rules>
        <rules>
            <name>Squad_Picklist_DELTA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Squad_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DELTA</targetReference>
            </connector>
            <label>Squad_Picklist_DELTA</label>
        </rules>
        <rules>
            <name>Squad_Picklist_GAMMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Squad_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GAMMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GAMMA</targetReference>
            </connector>
            <label>Squad_Picklist_GAMMA</label>
        </rules>
        <rules>
            <name>Squad_Picklist_EPSILON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Squad_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPSILON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EPSILON</targetReference>
            </connector>
            <label>Squad_Picklist_EPSILON</label>
        </rules>
        <rules>
            <name>Squad_Picklist_ZETA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Squad_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZETA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ZETA</targetReference>
            </connector>
            <label>Squad_Picklist_ZETA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Node_2</name>
        <label>Decision Node 2</label>
        <locationX>179</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Screen2Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Buttons_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3</targetReference>
            </connector>
            <label>Screen2Yes</label>
        </rules>
        <rules>
            <name>Screen2No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Buttons_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4</targetReference>
            </connector>
            <label>Screen2No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Node_3</name>
        <label>Decision Node 3</label>
        <locationX>244</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Screen3Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Buttons_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Node_1</targetReference>
            </connector>
            <label>Screen3Yes</label>
        </rules>
        <rules>
            <name>Screen3No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Buttons_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4</targetReference>
            </connector>
            <label>Screen3No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Squad assignment picklist.</description>
        <name>Squad</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Crew_List__c</picklistField>
        <picklistObject>Crew_Members__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>DNA Test Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DNA Test Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_ALPHA</name>
        <label>Update_ALPHA</label>
        <locationX>674</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>Email_Captain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Crew_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALPHA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DNA_Test__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Crew_Members__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BETA</name>
        <label>Update_BETA</label>
        <locationX>672</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Email_Captain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Crew_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BETA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DNA_Test__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Crew_Members__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DELTA</name>
        <label>Update DELTA</label>
        <locationX>675</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>Email_Captain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Crew_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DELTA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DNA_Test__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Crew_Members__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EPSILON</name>
        <label>Update EPSILON</label>
        <locationX>813</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Email_Captain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Crew_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EPSILON</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DNA_Test__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Crew_Members__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GAMMA</name>
        <label>Update GAMMA</label>
        <locationX>811</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Email_Captain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Crew_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GAMMA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DNA_Test__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Crew_Members__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ZETA</name>
        <label>Update ZETA</label>
        <locationX>838</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Email_Captain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Crew_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZETA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DNA_Test__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Crew_Members__c</object>
    </recordUpdates>
    <screens>
        <description>You must verify the presence of DNA for all Crew Members before they can be deployed.</description>
        <name>DNA_Test_Verification</name>
        <label>DNA Test Verification</label>
        <locationX>102</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <fields>
            <name>Text_Field_1</name>
            <fieldText>&lt;p&gt;Choose the Squad whose records will be updated:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Squad_Picklist</name>
            <choiceReferences>Squad</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Squad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>58</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Node_2</targetReference>
        </connector>
        <fields>
            <name>Text_Field_2</name>
            <fieldText>&lt;p&gt;You are about to verify the DNA Test results for all Crew Members assigned to Squad {!Squad_Picklist}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Are you SURE about this?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Radio_Buttons_1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>191</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Node_3</targetReference>
        </connector>
        <fields>
            <name>Text_Field_3</name>
            <fieldText>&lt;p&gt;The consequences of mistaking alien life-forms for human Crew Members could include:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Demotion&lt;/li&gt;&lt;li&gt;Disciplinary action&lt;/li&gt;&lt;li&gt;Being ejected into the vacuum of space&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Are you REALLY sure about this?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Radio_Buttons_2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>373</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Field_4</name>
            <fieldText>&lt;p&gt;A wise choice... better safe than sorry!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>949</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Field_5</name>
            <fieldText>&lt;p&gt;We&apos;ve notified the Captain of your decision... we hope you know what you&apos;re doing!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>DNA_Test_Verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
